In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [3]:
df = pd.read_csv("50_Startups.txt",sep=",")
df.head()

   R&D_Spend  Administration  Marketing_Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
X = df.iloc[:,:-1].values
y = df.iloc[:,4].values

In [5]:
labelencoder = LabelEncoder()

In [6]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('my_ohe', OneHotEncoder(), [3])], remainder='passthrough')
X = ct.fit_transform(X)

print(X.shape)
print(y.shape)

(50, 6)
(50,)

In [7]:
# split the dataset
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state=0)

In [8]:
reg = LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

In [9]:
y_pred = reg.predict(X_test)

In [10]:
r2_score(y_test,y_pred)

0.934706847328222

In [11]:
df1 = pd.DataFrame(data=y_test,columns=['y_test'])
df1['y_pred'] = y_pred
df1

      y_test         y_pred
0  103282.38  103015.201598
1  144259.40  132582.277608
2  146121.95  132447.738452
3   77798.83   71976.098513
4  191050.39  178537.482211
5  105008.31  116161.242302
6   81229.06   67851.692097
7   97483.56   98791.733747
8  110352.25  113969.435330
9  166187.94  167921.065696

In [12]:
ran_data = [1,0,0,145120,189000,176451]
ran_data_arr = np.array(ran_data)
ran_data_num = ran_data_arr.reshape(1,-1)
pred_single_row = reg.predict(ran_data_num)
round(float(pred_single_row),2)

167474.79

In [13]:
import sklearn.externals
import joblib
joblib.dump(reg,"multiple_linear_regression.pkl")

['multiple_linear_regression.pkl']